<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>{{ item.title }}</title>
</head>

<body>
  <p>
  <div class="top-page">
    <a href="/">Front Page</a>
    <a href="/user/{{ session.user_id }}">My Profile</a>
  </div>
  </p>
  
  <p>
  <a href="/item/{{ item.id }}" class="back-button">Back to recipe</a>
  </p>
  
  <h3>Showing all {{ comments | count }} comments:</h3>
  <ul style="list-style-type:none;">
  {% for comment in comments %}
    <li class="comment-box"><i>{{ comment.created[:10] }} </i><a href="/user/{{ comment.user_id }}">{{ comment.username }}:</a><br>{{ comment.content }}</li>
  {% endfor %}
  </ul>
  
  <form action="/add_comment" method="post">
    <label for="content"><p><b>Add a Comment</b></p></label>
    <textarea name="content" required></textarea>    
    <input type="hidden" name="item_id" value="{{ item.id }}"/>
    <br>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"/>
    <div style="text-align: center;">
      <input type="submit" value="Post" />
    </div>
  </form>
</body>

</html>

