<!DOCTYPE html>
<html>

<head>
  <title>New Recipe</title>
</head>

<body>
  
  <h1>Add a New Recipe</h1>

  <form action="/recipe_result" method="post">
    <p>
      Title: <br />
      <input type="text" name="title" maxlength="50" required />
    </p>
    
    <p>
      Recipe: <br />
      <textarea name="description" rows="8" cols="40" maxlength="1000" required></textarea>
    </p>
    
    <h3>Recipe Type:</h3>
    <p>
      <input type="radio" name="menu" value="Appetizer" /> Appetizer
      <input type="radio" name="menu" value="Main Course" /> Main Course
      <input type="radio" name="menu" value="Dessert" /> Dessert
      <input type="radio" name="menu" value="Side Dish" /> Side Dish
    </p>
    <h3>Skill Level:</h3>
    <p>
      <input type="radio" name="skill" value="Beginner" /> Beginner
      <input type="radio" name="skill" value="Intermediate" /> Intermediate
      <input type="radio" name="skill" value="Advanced" /> Advanced
    </p>
    
    <h3>Tags:</h3>
    <p>
      <input type="checkbox" name="tag" value="Vegan" /> Vegan
      <input type="checkbox" name="tag" value="Vegetarian" /> Vegetarian
      <input type="checkbox" name="tag" value="Fish" /> Fish
      <input type="checkbox" name="tag" value="Chicken" /> Chicken
      <input type="checkbox" name="tag" value="Meat" /> Meat
      <input type="checkbox" name="tag" value="Pasta" /> Pasta
      <input type="checkbox" name="tag" value="Salad" /> Salad
      <input type="checkbox" name="tag" value="Oven" /> Oven
      <input type="checkbox" name="tag" value="Soup" /> Soup
    </p>
    
    <input type="submit" value="Create recipe" />
    
    <p>
      <a href="/">Back</a>
    </p>
  </form>
</body>

</html>
