<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>New Recipe</title>
</head>

<body>
  <p>
  <div class="top-page">
    <a href="/">Front Page</a>
    <a href="/user/{{ session.user_id }}">My Profile</a>
  </div>
  </p>
  <div class="create-recipe-view">
    <h2>Add a New Recipe</h2>

    <div class="form-wrapper">
      <form action="/recipe_result" method="post">
        <p style="text-align: center;">
          <b>Title:</b> <br />
          <input type="text" name="title" maxlength="50" required />
        </p>
        
        <p style="text-align: center;">
          <b>Recipe:</b> <br />
          <textarea name="description" rows="8" cols="40" maxlength="1000" required></textarea>
        </p>
        
        <h3>Recipe Type:</h3>
        <p style="text-align: center;">
          <input type="radio" name="menu" value="Appetizer" /> Appetizer
          <input type="radio" name="menu" value="Main Course" /> Main Course
          <input type="radio" name="menu" value="Dessert" /> Dessert
          <input type="radio" name="menu" value="Side Dish" /> Side Dish
        </p>
        <h3>Skill Level:</h3>
        <p style="text-align: center;">
          <input type="radio" name="skill" value="Beginner" /> Beginner
          <input type="radio" name="skill" value="Intermediate" /> Intermediate
          <input type="radio" name="skill" value="Advanced" /> Advanced
        </p>
        
        <h3>Tags:</h3>
        <p style="text-align: center;">
          <input type="checkbox" name="tag" value="Vegan" /> Vegan
          <input type="checkbox" name="tag" value="Vegetarian" /> Vegetarian
          <input type="checkbox" name="tag" value="Fish" /> Fish
          <input type="checkbox" name="tag" value="Chicken" /> Chicken
          <input type="checkbox" name="tag" value="Meat" /> Meat
          <input type="checkbox" name="tag" value="Pasta" /> Pasta
          <input type="checkbox" name="tag" value="Salad" /> Salad
          <input type="checkbox" name="tag" value="Oven" /> Oven
          <input type="checkbox" name="tag" value="Soup" /> Soup
        </p>
        
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input style="text-align: center;" type="submit" value="Create recipe" />
      </form>
    </div>
  </div>
</body>

</html>
