<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>Search</title>
</head>

<body>
  <p>
  <div class="top-page">
    <a href="/">Front Page</a>
    <a href="/user/{{ session.user_id }}">My Profile</a>
  </div>
  </p>

  <h2>Search for Recipes:</h2>
  </div class="form-wrapper">
    <form action="/search_item" method="get">
      <p style="text-align: center;">
        <input type="text" name="query" value="{{ query }}" />
      </p>
      
        <h3>Filter results by:</h3>
      <p style="text-align: center;">
        <input type="checkbox" name="tag" value="Vegan" /> Vegan
        <input type="checkbox" name="tag" value="Vegetarian" /> Vegetarian
        <input type="checkbox" name="tag" value="Fish" /> Fish
        <input type="checkbox" name="tag" value="Chicken" /> Chicken
        <input type="checkbox" name="tag" value="Meat" /> Meat
        <input type="checkbox" name="tag" value="Pasta" /> Pasta
        <input type="checkbox" name="tag" value="Salad" /> Salad
        <input type="checkbox" name="tag" value="Oven" /> Oven
        <input type="checkbox" name="tag" value="Soup" /> Soup
      </p>
      
      <div style="text-align: center;">
        <input type="submit" value="Search"/>
      </div>
    </form>
  </div>
  
  <div class="results-view">
    {% if query %}
      <h3>Results ({{ results | count }})</h3>
      <ul style="list-style-type:none;">
        {% for item in results %}
        <li><a href="/item/{{ item.id }}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
      {% if message %}
        <p class="message">{{ message }}</p>
      {% endif %}
    {% endif %}
  </div>

</body>
</html>
