<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>Login</title>
</head>

<body>
<div class="form-wrapper">
  {% if session.username %}
  <p>
    You're logged in as {{ session.username }}
  </p>
  <p>
    <a href="/logout">Log out</a>
  </p>
  {% else %}
  <form action="/login" method="post">
    <p>
    <label for="username">Username:</label>
    <br>
    <input type="text" name="username" />
    <br>
    </p>
    <p>
    <label for="password">Password:</label>
    <br>
    <input type="password" name="password" />
    <br>
    </p>
    <input type="submit" value="Log in" />
  </form>
  {% endif %}
  <a href="/" class="button">Back</a>
</div>
</body>

</html>

