<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>Register</title>
</head>

<body>
<div class="form-wrapper">
  <form action="/create" method="post">
    <p>
      Username: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Password: <br />
      <input type="password" name="password1" />
      <br>
      <em style="color:grey;">Password must be at least 8 characters long</em>
    </p>
    <p>
      Re-enter password: <br />
      <input type="password" name="password2" />
    </p>
    <input type="submit" value="Create account" />
  </form>
  <a href="/" class="button">Back</a>
</div>
</body>

</html>

