<!DOCTYPE html>
<html>

<head>
  <title>Profile</title>
</head>

<body>
  <h1>{{ user.username }}</h1>
  
  <p>User created on {{ user.created }}</p>
  
  <div>
  <p><b>Bio</b></p>
  
    {% if bio == None %}
      <p><i>User hasn't yet written a bio</i></p>
    {% else %}
      {{ bio }}
    {% endif %}
    
    {% if session.user_id == user.id %}
    <p>
    <a href="/update_bio">Edit</a>
    </p>
    {% endif %}
  </div>

  <h3>User's Recipes</h3>
  <p>{{ user.username }} has uploaded {{ user_items | count }} recipes</p>
  <ul>
    {% for item in user_items %}
    <li><a href="/item/{{ item.id }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>
  
  <p><b>Average Rating:</b></p><h2>{{ rating }}</h2>

  <h3>Recent Activity</h3>
  {% if message %}
    <p><i>{{ message }}</i>
  {% endif %}
  <ul>
    {% for act in activity %}
      {% if act.type == 'comment' %}
      <li>User commented on <a href="/item/{{ act.id }}">{{ act.title }}</a></li>
      {% elif act.type == 'rating' %}
      <li>User gave a rating on <a href="/item/{{ act.id }}">{{ act.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <p>
    <a href="/">Back</a>
  </p>

</body>

</html>
