<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>Recipe World</title>
</head>

<body>
  <h1>Recipe World</h1>
  
  {% if session.username %}
  <p>
  <b>Hello there!</b> <em>You're logged in as {{ session.username }}</em>
  </p>

  <div class="link-list">
    <p>
      <a href="/user/{{ session.user_id }}">My Profile</a>|
      <a href="/create_recipe">Create New Recipe</a>|
      <a href="/search_item">Search for Recipes</a>|
      <a href="/logout">Log out</a>
    </p>
  </div>
  
  <h2>New from You</h2>
  <div class="item-list">
    <ul style="list-style-type:none;">
      {% for item in items %}
      <li><a href="/item/{{ item.id }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  
  <h2>Most Popular</h2>
  <div class="item-list">
    <ul style="list-style-type:none;">
      {% for item in popular_items %}
      <li><a href="/item/{{ item.id }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>  
  </div>
  
  <h2>New Recipes</h2>
  <div class="item-list">
    <ul style="list-style-type:none;">
      {% for item in new_items %}
      <li><a href="/item/{{ item.id }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  
    <p>
      <a href="/all_recipes" class="button">Browse</a>
    </p>
 {% endif %}

  {% if 'username' not in session %}
  
  <p>
    Come share your recipes with us!
  </p>
  
  <p>
    <a href="/login" class="button">Log in</a>
    <a href="/register" class="button">Create account</a>
  </p>
  {% endif %}
</body>

</html>
