<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>Update bio</title>
</head>

<body>
  <p>
  <div class="top-page">
    <a href="/">Front Page</a>
    <a href="/user/{{ session.user_id }}">My Profile</a>
  </div>
  </p>
  <div class="form-wrapper">
    <form action="/bio_result" method="post">
      <label for="bio"><h2>Update Your Bio</h2></label>
      <p>
        <textarea name="content" rows="8" cols="40" maxlength="500" required></textarea>
      </p>
      
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <input type="submit" value="Update" />
    </form>
  </div>
</body>

</html>
